<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <i class="fa-solid fa-music"></i> -->
	<link rel="icon" href="img/globe.png" type="image/png">
	<link rel="stylesheet"   href="css/vaani.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\dhwani panchal\Downloads\fontawesome-free-5.13.0-web\fontawesome-free-5.13.0-web\css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<title>Introduction</title>
</head>
<body>
		<header>
			<!--<nav>
				<h1>Welcome to our page</h1>
				<a href="vaani.html">Home</a>
				<a href="vaani-about.html">About</a>
				<section class="form">
    				<p><a href="vaani.test.html"><button>Upload your audio files here</button></a></p> -->
    				<!-- Better if this is in test page--> 
    		<!--		<p><a href="vaani.result.html"><button>And now it's time to test your results</button></a></p>
 		 		</section>
 		 		<section class="middle"> 
					<h1>VAANI'S here to Assist you</h1>
				</section>
					
			</nav> -->
			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
    				<div class="navbar-header">
      					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span> 
      					</button>
      				<a class="navbar-brand" href="vaani.html">VAANI</a>
    				</div>
    				<div class="collapse navbar-collapse" id="myNavbar">
      					<ul class="nav navbar-nav">
        					<li class="active"><a href="#">Home</a></li>
        					<li><a href="vaani.test.html">Upload</a></li>
        					<li><a href="vaani.result.html">Test</a></li> 
        					<li><a href="#">Extra</a></li> 
      					</ul>
      					<ul class="nav navbar-nav navbar-right">
        					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      					</ul>
    				</div>
  				</div>
			</nav>
		</header>
		<section class="center">


		</section>
			
</body>
<footer>
    <h2>To know more about cognitive behaviour therapy visit <b><a href="kayra-about.html" style="color: white;">About</a></b>  section of your site</h2>
    <h2>You may also find some facts about the same, here: <a href="https://www.verywellmind.com/what-is-cognitive-behavior-therapy-2795747#:~:text=Cognitive%20behavioral%20therapy%20(CBT)%20is,influence%20on%20behavior%20and%20emotions." color="black">Cognitive Behavioural Therapy</a></h2>
    <p>Copyright &copy; 2021 DJ STRIKE All rights reserved | Sharing some of our work with <i class="fas fa-heart"></i></p>
</footer>
</html>