<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"   href="css/vaani_sample.css">
	<link rel="icon" href="img/globe.png" type="image/png">
	<title>Sample Audio</title>
</head>
<body>
	<p>Here are your sample files:</p>
	<ol type="I">
	<li>Audio Test</li>
	<audio controls>
		<source src="audio/audiotest.mp3" type="audio/mp3">	
	</audio>
	<li>Sample 1</li>
	<audio controls>
		<source src="audio/sample1.ogg" type="audio/ogg">	
	</audio>
	<li>Sample 2</li>
	<audio controls>
		<source src="audio/sample2.ogg" type="audio/ogg">	
	</audio>
	<li>Sample 3</li>
	<audio controls>
		<source src="audio/sample3.ogg" type="audio/ogg">	
	</audio>
	<li>Sample 4</li>
	<audio controls>
		<source src="audio/sample4.ogg" type="audio/ogg">	
	</audio>
	<li>Sample 5</li>
	<audio controls>
		<source src="audio/sample5.ogg" type="audio/ogg">	
	</audio>
	</ol>
</body>
</html>